<nav>
  {% render 'header' %}
</nav>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const hamburger = document.querySelector('.hamburger');
    const header = document.querySelector('.header-nav');

    hamburger.addEventListener('click', () => {
      header.classList.toggle('active');
    });
  });
</script>

{% schema %}
{
  "name": "Navbar",
  "settings": [],
  "presets": []
}
{% endschema %}
