<section>
  <div class="hero">
    <div class="offer-hero">
      <p class="hero-1">LIMITED TIME ONLY</p>
      <h3>UPTO 25% OFF</h3>
      <p class="hero-2">All Jackets & T-Shirts</p>
      <p class="hero-3">LET'S <span>STAYTRENDY</span></p>
      <button>SHOP NOW</button>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "image",
      "info": "Landscape image with .png Recommended"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "hero"
    }
  ]
}
{% endschema %}
