<section class="more-info">
  <div class="more-info-wrapper">
    {% if section.settings.text != blank %}
      <h1>THE RESOLUTION STARTER PACK</h1>
    {% else %}
      <h1>{{ section.settings.text }}</h1>
    {% endif %}
    {% if section.settings.text2 != blank %}
      <p>
        Discover the latest trends in fashion with our exclusive collection! From chic streetwear to elegant evening
        attire, our curated selection offers something for every style. Elevate your wardrobe with statement pieces,
        luxurious fabrics, and timeless designs. Shop now and stay ahead of the fashion curve — because your perfect
        look is just a click away!
      </p>
    {% else %}
      <p>{{ section.settings.text2 }}</p>
    {% endif %}
    <a href="/collections/catalog"><button class="more-info-button">Explore Our Collection</button></a>
  </div>
</section>

<style>
  .more-info{
  background: {{ section.settings.background }};
  color: {{ section.settings.text_color }};
  display: flex;
  justify-content: center;
  min-height: auto;
  }
</style>

{% schema %}
{
  "name": "More-info",
  "settings": [
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#fefdf8"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#000000"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "default text"
    },
    {
      "type": "text",
      "id": "text2",
      "label": "Text",
      "default": "default text"
    }
  ],
  "presets": []
}
{% endschema %}
