@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* Announcement Bar */

.announcement-bar {
  text-align: center;
  padding: 20px 0px;
  font-size: 0.9rem;
}

/*Hero Section*/

.hero {
  height: 100%;
  background-image: url("../assets/hero-banner.png");
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-size: cover;
  background-position: center top;
}

.offer-hero {
  padding-left: 52px;
  text-align: center;
}

.offer-hero .hero-1 {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 2px;
}
.offer-hero .hero-2 {
  font-size: 1rem;
  font-weight: 600;
}

.offer-hero h3 {
  font-size: 3rem;
}

.offer-hero .hero-3 {
  padding-top: 2rem;
  font-size: 0.7rem;
  font-weight: 600;
}

.offer-hero .hero-3 span {
  font-size: 1rem;
  font-weight: 600;
  background-color: #db0b50;
  color: #fff;
  padding: 1px 7px;
  margin-left: 5px;
}

.offer-hero button {
  background-color: transparent;
  border: 2px solid black;
  padding: 10px 50px;
  margin-top: 8px;
  font-weight: 600;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .hero {
    height: 35%;
  }
}
