@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main#main {
  flex: 1;
  background: #fefdf8;
}

/* Announcement Bar */

.announcement-bar {
  text-align: center;
  padding: 20px 0px;
  font-size: 0.9rem;
}

/*Banner Section*/

.banner-wrapper {
  padding: 30px 0px;
  font-size: 0.9rem;
  position: relative;
  text-align: center;
  overflow: hidden;
}

/*Hero Section*/

.hero {
  height: 100vh;
  background-image: url("../assets/hero-banner.png");
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-size: cover;
  background-position: center top;
}

.offer-hero {
  padding-left: 52px;
  text-align: center;
}

.offer-hero .hero-1 {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 2px;
}
.offer-hero .hero-2 {
  font-size: 1rem;
  font-weight: 600;
}

.offer-hero h3 {
  font-size: 3rem;
}

.offer-hero .hero-3 {
  padding-top: 2rem;
  font-size: 0.7rem;
  font-weight: 600;
}

.offer-hero .hero-3 span {
  font-size: 1rem;
  font-weight: 600;
  background-color: #db0b50;
  color: #fff;
  padding: 1px 7px;
  margin-left: 5px;
}

.offer-hero .shop-now {
  background-color: transparent;
  border: 2px solid black;
  padding: 10px 50px;
  margin-top: 8px;
  font-weight: 600;
}

/*More-info section*/

.more-info-wrapper {
  display: flex;
  flex-direction: column;
  width: 750px;
  justify-content: center;
  align-items: flex-start;
  padding: 80px;
  gap: 25px;
}

.more-info-wrapper h1 {
  font-size: 3.4rem;
}

.more-info-button {
  padding: 10px 30px;
  background-color: #db0b50;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  outline: none;
  border-radius: 0px 20px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .more-info-wrapper {
    padding: 8vw;
    gap: 1.5rem;
  }

  .more-info-wrapper h1 {
    font-size: 3rem;
  }

  .more-info-button {
    padding: 0.6rem 1.5rem;
    font-size: 0.95rem;
  }
}

@media (max-width: 480px) {
  .more-info-wrapper {
    gap: 1rem;
  }

  .more-info-wrapper h1 {
    font-size: 2.2rem;
  }

  .more-info-button {
    padding: 0.5rem 1.2rem;
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .hero {
    height: 35vh;
  }
}
