.product-details-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 40px;
  max-width: 1200px;
  margin: auto;
}

.product-details-right img {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
}

.product-details-left {
  max-width: 400px;
}

.product-details-left h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.product-details-left p,
.product-details-left .details-description {
  font-size: 18px;
  color: #666;
  margin-bottom: 8px;
}

.product-details-left .price,
.product-details-left .details-price {
  font-weight: bold;
  font-size: 20px;
  color: #645e56;
}

.product-details-left .in-stock {
  color: #23a808;
  font-weight: 500;
}

.product-details-left .out-stock {
  color: #db0b50;
  font-weight: 500;
}

.product-details-left .details-tags {
  padding: 4px 20px;
  font-weight: 500;
  width: fit-content;
  border-radius: 20px;
  border: 2px solid gray;
}

.product-details-left .vendor-name {
  font-size: 1rem;
  color: #8f8a85;
}

.size-selector {
  width: 50%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 15px;
  background-color: #fff;
  cursor: pointer;
}

.addToCart-btn {
  background-color: #151515;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addToCart-btn:hover {
  background-color: #5e5e5e;
}

@media (max-width: 768px) {
  .product-details-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }

  .size-selector,
  .addToCart-btn {
    width: 100%;
  }
}
